* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
    color: white;
}

body {
background: #22A39F;
}

.wrapper {
    display: flex;
    background-color: #292929;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
}

.opt-wrapper {
    display: flex;
    flex-direction: column; 
    padding: 2rem;
}

.container {
    width: 100%;
    height: auto;
}

button {
    background-color: #292929;
    padding: 5px;
    border: 2px solid #FF9F29;
    width: 8rem;
    box-shadow: 1px 1px 5px #000000;
}

button:hover {
    background-color: #ff9f29;
}

button:active {
    background-color: #FF9F29;
    border: 3px solid #292929;
    box-shadow: none;
}

label {
    display: block;
}

span {
    position: relative;
    font-size: 22px;
    bottom: -2px;
}

.opt-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 10px;

}

input[type="color"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background-color: transparent;
    width: 8rem;
    height: 3rem;
    border: none;
    cursor: pointer;
}

input[type='range'] {
    color: black;
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}

input[type='color']::-webkit-color-swatch {
    border: 3px solid #292929;
    box-shadow: 1px 1px 5px #000000;

}

input[type='color']::-moz-color-swatch {
    border-radius: 8px;
    border: 3px solid #000000;
    
}

.gridCol {
    border: 1px solid #767676;
    height: 1em;
    width: 1em;
}

.gridRow {
    display: flex;
}
